@using Microsoft.AspNetCore.Components.Routing
@using SumitKumar.Shared

<Router AppAssembly="@typeof(SumitKumar.Shared._Imports).Assembly"
        AdditionalAssemblies="new[] { typeof(SumitKumar.Shared._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Page not found.</p>
    </NotFound>
</Router>
